*
!.gitignore
# Quartus / VHDL
!*.vhd
!*.qpf
!*.qsf
!*.stp
!*.sdc
# Markdown
!*.md
# Include all folders named img
!/**/img/**
# Wavedrom
!*.json
!*/
.vscode
**/db/**
# NIOS
!*.c
!*.cpp
!*.h
!*.hpp
*_bsp